.w-layout-blockcontainer {
  max-width: 840px !important;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3em;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.3em;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.3em;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3em;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3em;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3em;
}

p {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.5em;
}

.container {
  max-width: 760px;
  padding-left: 20px;
  padding-right: 20px;
}

.product {
  background-image: linear-gradient(90deg, #5d1a4d, #3d0d33 50%, #5d1a4d 102%);
}

.body {
  color: #000;
  font-family: Roboto Condensed, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

.center-text {
  text-align: center;
}

.white {
  color: #fff;
}

.red-text {
  color: red;
}

.steps {
  background-color: #dbdbdb;
  border-bottom: 2px solid #aeaeae;
}

.steps-div {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.font-weight-400 {
  font-weight: 400;
}

.step {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.step._2 {
  background-color: #29b700;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.hero-div {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
}

.pink {
  color: #c71585;
}

.card {
  border: 2px solid #5d1a4d;
}

.card-content {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: #fdfecf;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  display: flex;
}

.card-tittle {
  background-image: linear-gradient(90deg, #5d1a4d, #3d0d33 50%, #5d1a4d);
  padding: 10px;
}

.underline-red {
  -webkit-text-decoration: underline red;
  text-decoration: underline red;
}

.gray {
  color: #7a7a7a;
}

.gray-dark {
  color: #2c2c2c;
}

.green {
  color: green;
}

.image {
  width: auto;
}

.underline {
  text-decoration: underline;
}

.line-through {
  -webkit-text-decoration: line-through red;
  text-decoration: line-through red;
}

.button {
  color: #3d0d33;
  background-color: #ffeb00;
  border: 2px solid #8a5b0b;
  border-radius: 10px;
  padding: 15px 60px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2em;
  text-align: center;
}

.cards-div {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.code-embed {
  margin-bottom: 0;
}

.image-2 {
  align-self: center;
  width: 250px;
}

.review-div {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
}

.blue {
  color: #232c5e;
}

.depoiments {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.depoiment-holder {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  display: flex;
}

.photo {
  border: 3px solid #fadcd9;
  border-radius: 100px;
  align-self: flex-start;
  width: 50px;
}

.comments {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-flow: column;
  width: 100%;
  display: flex;
}

.depoiment {
  font-size: 20px;
}

.aspas {
  color: #536565;
  font-family: Times New Roman, TimesNewRoman, Times, Baskerville, Georgia, serif;
  font-size: 32px;
  line-height: .1em;
}

.yellow {
  color: #f38803;
}

.text-block {
  font-size: 20px;
}

.professsor {
  border: 3px solid #ccc;
  border-radius: 10px;
  width: 100px;
}

.prof {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-body {
  font-size: 22px;
}

.guarantee {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.guarant {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-flow: column;
  display: flex;
}

.faq-response {
  background-color: #e7e7e7;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 100%;
  padding: 10px 20px;
  font-size: 20px;
  display: block;
}

.arrow-2 {
  max-width: 20px;
  max-height: 20px;
  display: none;
}

.drops {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-flow: column;
  display: flex;
}

.drop {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  border-bottom: 1px solid #000;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 10px;
  display: flex;
}

.drop.model-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-bottom-width: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.blue-2 {
  color: #5d1a4d;
}

.drop-change {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  width: 100%;
  display: flex;
}

.drop-change.reverse {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  border: 0 solid #d5d8dc;
  border-top-color: #fff;
  border-bottom: 1px solid #bebebe;
  border-radius: 0;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.arrow {
  max-width: 20px;
  max-height: 15px;
}

.footer {
  background: #5d1a4d;
}

.footer-div {
  padding-top: 20px;
  padding-bottom: 20px;
}

._12px {
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .center-text.font-weight-400.gray.mobile, .center-text.font-weight-400.white.mobile {
    font-size: 14px;
  }

  .steps-div {
    grid-template-columns: 1fr;
  }

  .step {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .depoiments {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
  }

  .prof, .guarantee {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }

  .faq-response {
    font-size: 14px;
    display: none;
  }

  .arrow-2 {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .drops {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}


